.container {
	max-width: 1200px;
	height: 100%;
	width: 100%;

	margin: 0 auto;
	padding: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.loading {
	font-size: 20px;
}

.error {
	color: #ff5656;
	font-size: 20px;
}
