.header-row {
	th {
		background-color: #66666655;
	}
}

.body-row {
	td {
		background-color: #3a3a3a55;

		text-align: center;
		padding: 14px 10px;
	}
}

.sort-button,
.sort-button,
.sort-button {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;

	padding: 14px 4px;
	width: 100%;
	cursor: pointer;
}

.sort-button div,
.sort-button div,
.sort-button div {
	aspect-ratio: 1 / 1;
	height: 14px;
	border-radius: 100px;
}

.gold div {
	background-color: gold;
}

.silver div {
	background-color: silver;
}

.bronze div {
	background-color: sienna;
}
